body{
  background-color: var(--vscode-sidebar-background);
}
div > h4{
  border-bottom: 1px solid rgb(95, 95, 95);
  padding-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}
form > input, button{
  width:200px !important;
}
.gsc-search-button{
  background-color: var(--vscode-button-background) !important;
  border:var(--vscode-button-background) !important;
  margin-left: 0px !important;
  width:200px;
}
#gs_tti50{
  background:none;

}
.gsc-input{
  background: none !important;

}
.gsc-input-box{
  background-color: var(--vscode-input-background) !important;
  border:none !important;
  width:200px;
  border:1px solid var(--vscode-focusBorder) !important;

}
.gsc-completion-container{
  background-color:var(--vscode-input-background) !important;
}
.gsc-control-cse.gsc-control-cse-en{
  background-color: var(--vscode-sidebar-background) !important;
  border:none !important;
  /* display: flex !important;
  justify-content: center !important; */
  width: 100% !important;
}

.gsc-search-box > tbody > tr{
  display: flex !important;
  flex-direction: column !important;
  gap:10px !important;
}
.gsc-search-box{
  display: flex !important;
  justify-content: center !important;
}
@media (max-width:200px){
  .gsc-search-button{
    width:120px !important;
  }
  .gsc-input-box{
    width:120px !important;
  }
}
div>h2{
  text-align: center;
}